@import '_mixins';

body {
  background-color: #96A8C8;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  #header {
    font: sans-serif;
    font-size: 64px;
    font-style: bold;
    text-align: center;
    margin: 20px;
    padding: 20px;
  }

  #content {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    @include rounded(20px);
    font-family: 'Roboto Thin', arial, helvetica, sans-serif;
    font-weight: 100;

    h1 {
      font-family: 'Roboto Bold', arial, helvetica, sans-serif;
    }
    form {
      label {
        text-align: right;
        width: 12em;
        display: inline-block;
      }
    }

    .venue_name {
      font-family: 'Roboto';
      font-weight: 400;
    }
  }
}

#jsn-page {
    min-width: 960px;
    width: 960px;
}

label:after {
  content: ": ";
}

label {
  padding-right: 5px;
}

.hint, .error {
  padding-left: 5px;
  font-size: 10px;
}

.error {
  font-weight: 900;
}

.input {
  padding-bottom: 10px;
}

abbr[title], acronym[title] {
  border-bottom-width: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


body #content form .checkbox_container label {
    width: auto;
}

body #content form .checkbox_container label:after {
    content: "";
}